<%- include('layouts/header') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card-shadow">

                    <div class="card-body p-4">
                        <form action="/update/<%= nurse._id %>" method="post" id="add-form">
                            <div class="mb-3">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control form-control-lg"
                                    placeholder="Enter Name..." value="<%= nurse.name %>" required>
                            </div>
                            <div class="mb-3">
                                <label for="name">License Number</label>
                                <input type="text" name="licenseNumber" class="form-control form-control-lg"
                                    placeholder="Enter License Number..." value="<%= nurse.licenseNumber %>" required>
                            </div>
                            <div class="mb-3">
                                <label for="name">DOB</label>
                                <input type="text" name="dob" class="form-control form-control-lg"
                                    placeholder="Enter DD/MM/YYYY ..." value="<%= nurse.dob %>" required>
                            </div>
                            <div class="mb-3">
                                <label for="name">Age</label>
                                <input type="text" name="age" class="form-control form-control-lg"
                                    placeholder="Enter Age..." value="<%= nurse.age %>" required>
                            </div>
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="Update Nurse" class="btn btn-success btn-lg">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/footer') %>